@font-face {
    font-family: "montserrat";
    src: url('Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: "source-serif-pro";
    src: url('SourceSerifPro-Light.ttf');
}

* {
  margin:0px;
  padding:0px;
  text-decoration: none;
  list-style: none;
  box-shadow: border-box;
  font-size: 18px;
  font-family:"source-serif-pro";
}


h3 {
  font-size: 31px;
  font-family: "montserrat";
}

nav {
  background: #f5f1f3;
  height: 80px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
  width: 40px;
  margin: 25px;
}

.links ul
{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.links ul li
{
    padding-right: 30px;
}

.second {
    height: 400px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:#dfe3df;
}

.pic-left img {
    margin:80px;
    height: 300px;
    width: 250px;
}

p {
    font-size: 25px;
    flex-wrap: wrap;
    margin-right: 100px;
}

.par
{
    font-size: 25px;
    flex-wrap: wrap;
    margin-left: 100px;
}
.third
{
    margin:30px;
    text-align: center;
}

.gallery{
}
