@font-face {
    font-family: "montserrat";
    src: url('Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: "source-serif-pro";
    src: url('SourceSerifPro-Light.ttf');
}

* {
  margin:0px;
  padding:0px;
  text-decoration: none;
  list-style: none;
  box-shadow: border-box;
  font-size: 18px;
  font-family:"source-serif-pro";
}


h3 {
  font-size: 31px;
  font-family: "montserrat";
}

nav {
  background: #f5f1f3;
  height: 80px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
